<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>spring.servlet.FrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>spring.servlet.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarController</servlet-name>
        <servlet-class>spring.servlet.CarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarController</servlet-name>
        <url-pattern>/CarController</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>spring.config.SpringServletContextListenerForJdbcProject</listener-class>
    </listener>

    <filter>
        <filter-name>hiddenHttpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>hiddenHttpMethodFilter</filter-name>
        <servlet-name>FrontController</servlet-name>
    </filter-mapping>

</web-app>